# Salaries Exercise - 

Welcome to a quick exercise for you to practice your pandas skills! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

/tmp/ipykernel_11704/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [3]:
# Load the data
data = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [4]:
data.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
data.info

<bound method DataFrame.info of             Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651       Not provided
148651  148652       Not provided
148652  148653       Not provided
148653  148654          Joe Lopez

                                              JobTitle    BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)  212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60
...                                                ...        ...
148649                                       Custodian       0.00
148650                                    Not provided        NaN
148651                                    Not provided        NaN
148652                                    Not provided        NaN
148653                      Counselor, Log Cabin Ranch       0.00

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
0              0.00  400184.25       NaN  567595.43         567595.43  2011
1         245131.88  137811.38       NaN  538909.28         538909.28  2011
2         106088.18   16452.60       NaN  335279.91         335279.91  2011
3          56120.71  198306.90       NaN  332343.61         332343.61  2011
4           9737.00  182234.59       NaN  326373.19         326373.19  2011
...             ...        ...       ...        ...               ...   ...
148649         0.00       0.00       0.0       0.00              0.00  2014
148650          NaN        NaN       NaN       0.00              0.00  2014
148651          NaN        NaN       NaN       0.00              0.00  2014
148652          NaN        NaN       NaN       0.00              0.00  2014
148653         0.00    -618.13       0.0    -618.13           -618.13  2014

        Notes         Agency  Status
0         NaN  San Francisco     NaN
1         NaN  San Francisco     NaN
2         NaN  San Francisco     NaN
3         NaN  San Francisco     NaN
4         NaN  San Francisco     NaN
...       ...            ...     ...
148649    NaN  San Francisco     NaN
148650    NaN  San Francisco     NaN
148651    NaN  San Francisco     NaN
148652    NaN  San Francisco     NaN
148653    NaN  San Francisco     NaN

[148654 rows x 13 columns]>

**What is the average BasePay ?**

In [6]:
average_base_pay = data['BasePay'].mean()
print(f"Average BasePay: {average_base_pay}")

Average BasePay: 66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
highest_overtime_pay = data['OvertimePay'].max()
print(f"Highest OvertimePay: {highest_overtime_pay}")

Highest OvertimePay: 245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [8]:
job_title_joseph_driscoll = data[data['EmployeeName'].str.upper() == 'JOSEPH DRISCOLL']['JobTitle'].values[0]
print(f"Job Title of JOSEPH DRISCOLL: {job_title_joseph_driscoll}")

Job Title of JOSEPH DRISCOLL: CAPTAIN, FIRE SUPPRESSION

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [9]:
total_pay_joseph_driscoll = data[data['EmployeeName'].str.upper() == 'JOSEPH DRISCOLL']['TotalPayBenefits'].values[0]
print(f"Total Pay Including Benefits for JOSEPH DRISCOLL: {total_pay_joseph_driscoll}")

Total Pay Including Benefits for JOSEPH DRISCOLL: 270324.91

** What is the name of highest paid person (including benefits)?**

In [10]:
highest_paid_person = data[data['TotalPayBenefits'] == data['TotalPayBenefits'].max()]['EmployeeName'].values[0]
print(f"Name of Highest Paid Person (Including Benefits): {highest_paid_person}")

Name of Highest Paid Person (Including Benefits): NATHANIEL FORD

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [11]:
lowest_paid_person = data[data['TotalPayBenefits'] == data['TotalPayBenefits'].min()]['EmployeeName'].values[0]
lowest_paid_person_amount = data[data['TotalPayBenefits'] == data['TotalPayBenefits'].min()]['TotalPayBenefits'].values[0]
print(f"Name of Lowest Paid Person (Including Benefits): {lowest_paid_person}")
print(f"Amount Paid: {lowest_paid_person_amount}")

Name of Lowest Paid Person (Including Benefits): Joe Lopez
Amount Paid: -618.13

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [12]:
average_base_pay_per_year = data.groupby('Year')['BasePay'].mean()
print("Average BasePay per Year:")
print(average_base_pay_per_year)

Average BasePay per Year:
Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [13]:
unique_job_titles = data['JobTitle'].nunique()
print(f"Number of Unique Job Titles: {unique_job_titles}")

Number of Unique Job Titles: 2159

** What are the top 5 most common jobs? **

In [14]:
top_5_jobs = data['JobTitle'].value_counts().head(5)
print("Top 5 Most Common Jobs:")
print(top_5_jobs)

Top 5 Most Common Jobs:
JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [15]:
job_titles_2013 = data[data['Year'] == 2013]['JobTitle']
unique_job_titles_2013 = job_titles_2013.value_counts()

In [16]:
job_titles_one_person = unique_job_titles_2013[unique_job_titles_2013 == 1].count()
print(f"Number of Job Titles Represented by Only One Person in 2013: {job_titles_one_person}")

Number of Job Titles Represented by Only One Person in 2013: 202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [17]:
chiefs_count = data['JobTitle'].str.contains('Chief', case=False, na=False).sum()
print(f"Number of People with 'Chief' in Their Job Title: {chiefs_count}")

Number of People with 'Chief' in Their Job Title: 627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [18]:
data['JobTitleLength'] = data['JobTitle'].str.len()
correlation = data[['JobTitleLength', 'TotalPayBenefits']].corr().iloc[0, 1]
print(f"Correlation between Length of Job Title and Salary: {correlation}")

Correlation between Length of Job Title and Salary: -0.03687844593260901

# Great Job!